.header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  background-color: var(--secondary-color);
  color: white;

  .logo {
    display: flex;
    align-items: center;
    background-color: white;

    img,
    a {
      width: 35px;
      height: 35px;
    }
  }

  a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
  }

  a:hover {
    text-decoration: underline;
  }

  .icons {
    display: flex;

    i {
      font-size: 20px;
    }

    .settings {
      padding-left: 20px;
    }

    i:hover {
      cursor: pointer;
    }
  }
}

.sub-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

  .nav {
    padding: 0px 40px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    border-radius: 20px;

    &:hover {
      transition: all 0.3s ease;
      border: 1px solid rgba(189, 189, 189, 0.6);
    }

    a {
      color: #000;
      text-decoration: none;
      font-weight: 700;
      font-size: 21px;
      transition: all 0.2s ease;
    }
  }
}

.heart-container {
  position: relative;
  display: inline-block;
  margin-left: 3rem;
}

.custom-heart {
  color: white;
  -webkit-text-stroke: 4px black;
  font-size: 1.5rem;
}

.heart-count {
  position: absolute;
  top: -0.4rem;
  right: -0.5rem;
  background-color: red;
  color: white;
  font-size: 0.6rem;
  padding: 2px 4px;
  border-radius: 50%;
  font-weight: bold;
  line-height: 1;
}
