.view-product {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  padding: 2rem 4rem;

  .product-images {
    flex: 1 1 400px;
    max-width: 500px;
    border: 1px solid rgba(77, 75, 75, 0.05);
    border-radius: 8px;
  }

  .product-swiper {
    width: 100%;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
  }

  .product-swiper img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: var(--light-gold-color);
  }

  .product-details {
    flex: 1 1 300px;
  }

  .price {
    margin: 1rem 0;
  }

  .original-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 1rem;
  }

  .sale-price {
    font-size: 1.7rem;
    font-weight: 900;
    color: var(--light-gold-color);
  }

  .selectors {
    margin: 1rem 0;
  }

  .color-options,
  .size-options {
    margin-bottom: 1rem;
  }

  .colors,
  .sizes {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .color-btn {
    width: 32px;
    height: 32px;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }

  .color-btn.selected {
    border: 3px solid black;
  }

  .size-btn {
    padding: 0.5rem 1rem;
    border: 2px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    background-color: white;
    font-weight: 500;
  }

  .size-btn.selected {
    background-color: black;
    color: white;
    border-color: black;
  }

  .product-interaction-button {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    color: white;
    border: 1px solid rgba(var(--light-gold-rgb), 0.4);
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;

    transition: background-color 0.3s ease;
  }

  .add-to-cart-button {
    background-color: var(--light-gold-color);
  }

  .add-to-favorites-button {
    background-color: var(--light-gold-inactive-color);
    margin-right: 2rem;
  }

  .add-to-favorites-button-clicked {
    background-color: var(--light-gold-color);
  }

  .product-interaction-button:disabled {
    background-color: var(--light-gold-inactive-color);
    cursor: not-allowed;
  }

  .product-description {
    margin-top: 2rem;
  }

  .product-description h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}
